fastapi
uvicorn
python-dotenv
python-multipart
pinecone-client
llama-index
llama-index-core
llama-index-embeddings-fastembed
llama-index-vector-stores-pinecone
llama-index-llms-groq
llama-index-llms-gemini==0.5.0
fastembed
pdfplumber
pypdf
pydantic
httpx